/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UiSans';
  src: url('/src/assets/fonts/ui-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UiSans';
  src: url('/src/assets/fonts/ui-sans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-main: 'UiSans', system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  @apply bg-neutral-100 text-neutral-900;
  font-family: var(--font-main);
}
